* {
  font-family: sans-serif;
  font-size:11px; 
}
#conference-container {
   margin: 1.5em 0 0 0;	   
}
#conference-container td.admin_elt {
   height: 50em;
   margin:  0;	   
   padding: 0;	   
   border:  0;	    
}

/*
  green : 7C5852
  blue  : 4197e3
  pink  : da525d
*/
body {
 background-color:  #7C5852;
 margin: 0;
}
a:link    {text-decoration:none;color:#000099;}
a:visited {text-decoration:none;color:#000066;}
a:active  {text-decoration:none;color:#000099;}
a:hover   {color:#6666CC;text-decoration:underline;}

.list-of-objects, .edit-object {padding: 0.2em;}
div.list-of-objects {
  width: 30em;
  height: 50em;
  margin: 0.2em 0.5em 0.2em 0;
  border: 1px solid black;
  background: #F9D955 ;
}
div.edit-object {
  width: 57em;
  height: 50em;
  margin: 0.2em 0.5em 0.2em 0.5em;
  border: 1px solid black;
  background:#A91717;
  color: white;	     
  overflow: auto; 	 
}
div.edit-object div { color: #fff; }
div.edit-object .vTextField, div.edit-object .vLargeTextField { width: 100%; }
div.edit-object #id_coordinators { height: 14em; }
div.edit-object div.submit-row  { margin: 0 .3em .3em .3em; }
div.edit-object div.submit-row input, div.edit-object div.submit-row p { float: left; }

div.list-of-objects table { width: 100%; }
div.list-of-objects tbody td,  div.list-of-objects  th {
  border-bottom: 0.50px solid #e0e0e0;
  border-right:  0.25px solid #e0e0e0;
  text-align: left;
  vertical-align: top;	   
  padding: 0.2em;
}
.row1 {background: #fff;}

div.edit-object fieldset { 
  margin-top: 12em;
  padding: .3em 1.3em .3em .3em;
  clear: left; 
}
a.add-another img {border: 0;}

div#changelist div.result-list {
  overflow: auto;
  height: 40em;
  width: 100%;	  
}
ul.list-options {
  display: block;	
  width: 8em;	   
  background-color: #4197e3;
  padding: 0.3em 0 0.3em 0.3em;
  list-style-type: none;  	     
}
ul.list-options li.except-option {
   font-style: italic;
   font-size: smaller;
   padding-left: 1em;
}

ul.list-options li a { 
  display: block; 
  padding: 0.2em;	   
}
div.selector {40em !important;}



ul.list-options li.selected { 
  background-color: #F9D955;
  font-weight: bold;
}
ul.list-options a:hover { background-color: white;}

ul.messagelist { 
   position: absolute;
   top: 2px;	     
   left: 2em;
   width: 100%; 
   margin: 0;
   padding: 0;	   
   color: #F9D955 ;
   background-color: #ca9086;
   display: block;
}
