li.coded { 
	list-style-type: square; 
	list-style-image: url('http://www.sqp.nl/media/i/check.png');
}
table, td { 
    margin: 0px;
    padding: 0px;
}

#language, #country, #questions, #code_td { border: 1px solid gray; }
/* Taken care of in template according to resolution settings
div.inner_top {height: 90px;}
div.inner_bottom {height: 550px;}
td#language, td#country {height: 130px;}
td#questions {height: 300px;}
td#code_td {height: 390px;}
*/
#code_td {width: 100%;}
td#left{min-width: 350px;}
html, body, * {
   font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
   font-size: 9pt;
   margin: 0px;
}
h3{
margin: 0px;   
    background: #E1E1E1 url(../img/admin/nav-bg.gif) repeat-x scroll left top;
color: #666;
font-family: inherit;
font-size: medium;
border-bottom: 1px solid #aaa;
}
.long_name {
  font-style: italic;
  font-size: smaller;
}
img.percentImage {
 background: white url(/media/img/sqp/percentImage_back.png) top left no-repeat;
 padding: 0;
 margin: 5px 0 0 0;
 background-position: 1px 0;
}
#question_control {
    padding: 5px;
    border: 1px solid gray;
    font-weight: bold;
color: #666;
}
#button {
	border-right: 1px solid #000;
	padding: 0;
	margin: 0;
	background-color: #90bade;
	color: #333;
	overflow: auto; 
	height: 96%; 
}

#button ul {
		list-style: none;
		margin: 0;
		padding: 0;
		border: none;
	height: 100%; 
	overflow: auto; 
}
		

#button li {
	border-bottom: 1px solid #90bade;
}
#button li a {
	display: block;
	padding: 2px 2px 2px 0.2em;
	border-left: 10px solid #1958b7;
	border-right: 10px solid #508fc4;
	background-color: #2175bc;
	color: #fff;
	text-decoration: none;
	width: 100%;
}

html>body #button li a {
	width: auto;
}

#button li a:hover {
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #5ba3e0;
	background-color: #2586d7;
	color: #fff;
}

#button li.sel a,  #button li.sel a:hover {
	background-color: #fff;
	border-left: 10px solid #D45D32;
	border-right: 10px solid #C58C78;
    color: #000;
    font-weight: bold;
}
