body 
{
	font-family: Arial, Sans-Serif;	
	margin: 0px;
	background-color: #ffffff;
}
#timeuntil {
   font-size: small;
   font-style: italic;
   padding: 0.5em;
}
div#site 
{
	width: 1000px;
	right: auto;
	left: auto;
	position:absolute;
}
#top_frame, #top_nav_frame, #left_nav, #content
{
	padding-left: 0.5em;
}
#top_nav_frame
{
   
   background-image: url('http://media.surveymethodology.eu/i/backstripe.gif');
   background-repeat:repeat;
	color: white;
	text-align: left;
}

#top_nav_frame table td 
{
	padding-right: .4em;
	padding-left: .4em;
}

#top_nav_frame table td a 
{
	color: white;
}
#top_nav_frame table td a:hover
{
   color: #CB3731;
}
#top_nav_frame table #selected_top
{
	background-color: #ffffff;
	color: #CB3731; 
	font-weight: bold;
}
#search_form {margin:0px;padding:0px;}

#top_frame 
{
	background-color: white;
	height: 39px;
	vertical-align: center;
}
	#logo_frame 
	{
		text-align: left;
		padding-left: 0px;
	}
	#search_frame 
	{
		vertical-align: bottom;
		text-align: right;
	}

#left_part { 	font-size: smaller; width: 12.5em;	}
#left_nav
{
	font-size: smaller;
	margin: 0px;
	border-right: 1px solid #003366;
	height: 200px;
	vertical-align: top;
	width: 170px;
}


#main 
{
vertical-align: top;
border-bottom: 1px solid #003366;
}
.txt, .smallTxt, .bigTxt
{
	border: 1px solid #003366;
	font-size: smaller;
}
.btn 
{
	background-color: #003366;
	color: White;
	font-size: smaller;
   border: 1px solid #cddde4;
}
#search_what 
{
	width: 85px;
}
#search_btn 
{
	width:50px;
}

#content 
{
	padding: 0.5em;
	padding-bottom: 0em;
}
	#content img.ico
	{
		margin-right: 7px;
	}
	#content li
	{
		padding-bottom: 0.5em;
	}
	#content ul
	{
		padding-top: 0.5em;
	}
	#content table th 
	{
		text-align: left;
		font-weight: bold;
	}
	#content table#committee td
	{
		padding-bottom: 1em;
		padding-left: 1em;
		vertical-align: middle;
	}
	#content div.download 
	{
		background-color:#FFFAE9;
		border: 1px solid #aaaaee;
		padding: 10px;
		margin-top: 1em;
		float: right;
	}
	
	#content table#announce
	{
		font-size: smaller;
		margin-top:1em;
	}
	#content table#announce tr.announceOdd
	{
		background-color:#EDF3FF;
	}
	#content table#announce td a
	{
		color: Black;
		text-decoration:none;
	}
	#content table#announce td a:hover
	{
		color: Black;
		text-decoration:underline;
	}
	
	#news p
	{
		margin-top:0px;
		font-size:small;
	}
	 #news h3 
	 {
		margin-top:1em;
		margin-bottom:0px;
	 }
#footer
{
	text-align: right;
	padding-right: 0.5em;
}
#footer address 
{
	font-size: smaller;
	font-style: italic;
}
h1,h2,h3, #left_nav b
{
	color: #CB3731;
}
h1 
{
	margin: 0px;	
	font-size: 1.5em;
}
h2
{
	margin: 0px;	
	font-size: 1.2em;
}
h3
{	
	font-size: 1em;
	margin-top: 0px;	
}
a 
{
	color: #1f527b;
}
a:hover 
{
	color: #CB3731;
}
a:visited
{
	color: #4f85ae;
}
#navlist {padding-left: 2em;
	padding-top: 0.75em; 
	margin: 0px;
	list-style-position: outside;}
#navlist li { list-style-type: circle;  padding: 0.125em;}
#navlist li#selected {font-weight: bold; 
	list-style-type: disc;
	}
#navlist li.divider {font-weight: bold; 
list-style-type: none; padding: 0px; margin-top: 1em; margin-bottom: 1em;
	color: #CB3731;
}

	 h3 a { text-decoration:none;}
div.announcement {
	font-size: small;
	margin-left: 2em;
	margin-bottom: 1em;
	width: 90%;
	background-color:#EDF3FF;
}
.day {
	color: white;
	background-color: black;
}
table.timetable {
	border: 1px solid grey;
	margin-left: 1em;
}
table#events {
   font-size: smaller;
   margin: 0px;
}
#login {
   margin: 0px;
   margin-top: 2px;
}

#login input {
   border: 1px solid #cddde4;
 	width: 65px;
}

table.usable-list th {
   background-color: #003366;
   color: white;
}
table.usable-list td {
   border-bottom: 1px dotted #6699CC;
}
a.name {color: black;}
a.name:hover {color:black; text-decoration:none;}
ul#sessions li {padding: 0px;}
table#fees td {
   text-align: right;
   border: 0px;
}
