{% autoescape off %}
Dear {{user.username}},

We received a request to change your password. To reset your password, simply click on the link below. 
That will take you to a web page where you can create a new password.

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

Your username, in case you have forgotten, is: {{user.username}}

If you do not want to change your password, you can ignore this email. Your password will not be reset.

Thank you for using SQP,

SQP team

{% endautoescape %}
