<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/media/admin/css/base.css" />

    <title>MTMM report generator</title>
</head>
<body>
<h1>MTMM report generator</h1>

<form action="" method="POST">
    <table>
    {{ report_form.as_table }}
    <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
</form>


</body>
</html>

