
<script id="assignedQuestionRow" type="text/html">
	<td>
		<a class="questionItemLink hlinkclass" title="{{itemDescription}}">
			<!--
		    <span title="{{completeness}}" class="ui-icon {{completeness}}" style="float:left;margin-right:10px;"> </span>
		    -->
		    <span class="qListQuestionItemCode">{{ itemCode }}</span>
		    {{#itemName}}
		     <span style="color:#999">/</span>
		     <span class="qListQuestionItemName">{{ itemName }}</span>
		    {{/itemName}}
		    
		    {{#itemDescription}}
		      <span style="color:#999">/</span>
		      <span class='qListQuestionItemDescription'>{{itemDescription}}</span>
		    {{/itemDescription}}
		    
		</a>
	</td>
	<td>{{studyName}}</td>
	<td>{{language}}</td>
	<td>{{country}}</td>
	<td><img title="{{completeness}}"  style="padding:3px;vertical-align:middle" src="/media/img/ui/{{completeness}}.png" /></td>
</script>