<script id="codingCompleteTemplate" type="text/html">
	<div class="block">
		<h4 class="blockHeader">Question Coding Complete</h4>
		<div class="blockContent">
			<p class="completeNotice">
			<img style="vertical-align:text-bottom" src="/media/img/ui/complete.png" width="68" height="46"  />
			Coding Complete!
			</p>
			
			<p>This question has been completely coded.</p>
			
			<br>
			
			<h4>Question Quality Prediction</h4>
			<p>Get a prediction of the quality of this question based on the choices made for each characteristic.</p>
			<button class="btn getQualityPrediction">Get Quality Prediction &gt;</button>
			<br>
			<hr>
			
			<div class="codeNextNotice" style="display:none;">
				<h4>Code the next question.</h4>
				<p class="codeNextInfo"></p>
				<button class="btn codeNextQuestion">Code Next Question &gt;</button>
				<br>
			</div>
			
			<div class="codeNextLoading" >
				<h4>Loading Next Question....</h4>
				<br>
			</div>
			
			<hr>
			
			<h4>Return to the question list.</h4>
			<p>Go back to your search results for questions.</p>
			<button class="btn returnToList">Back to Question List</button>
		</div>
	</div>
</script>