<div style="float:left;width:48%">
	<h2>Register for a new account</h2>
	<p>Registration will allow users to access the online SQP software. By creating an SQP account you will be able to:</p>
	<ul>
		<li>Enter your own studies and questions in the open database</li>
		<li>Predict the quality of the questions in the database</li>
		<li>Share your results with other users</li>
		<li>Browse and learn from the information provided by other users</li>
	</ul>
	<p><a href="/accounts/register/">Register Now &gt;&gt;</a></p>
</div>

