<div style="float:left;width:94%;margin-bottom: 30px;">
	<h2>SQP Demo</h2>
	<p>"Demo environment for trying out the SQP system and the coding procedure.</p>
   	<p>This Demo will allow users to try out all functionalities of SQP. However, you should be aware that <span style="color:red">all studies, questions and codings will be deleted periodically</span>. Furthermore, for a complete view of the database you should access SQP through your personal account.</p>
	<form method="post" >
	{% csrf_token %}
	    <div class="submit_block">
            <input type="hidden" id="id_username" name="username" value="demouser">
            <input type="hidden" id="id_password" name="password" value="demouser">
	    </div>
        <input type="submit" value="Demo Login" style="float:right;position: relative;bottom: 15px;" />
	    <input type="hidden" name="next" value="/loadui/" />
	</form>
</div>

