<div style="float:left;width:94%;margin-bottom: 30px;">
	<h2>SQP Demo</h2>
	<p>SQP Demo is a trial version with all functionalities of SQP. However, users should be aware that all studies, questions and codings will be deleted periodically. For a complete view of the database you should access SQP through your personal account.</p>
	<form method="post" >
	{% csrf_token %}
	    <div class="submit_block">
            <input type="hidden" id="id_username" name="username" value="demouser">
            <input type="hidden" id="id_password" name="password" value="demouser">
	    </div>
        <input type="submit" value="Demo Login" style="float:right;position: relative;bottom: 15px;" />
	    <input type="hidden" name="next" value="/loadui/" />
	</form>
</div>

