<style><!--
.mail{
	color:blue;
}
.small-font{
	font-size: 95%;
}

.info-text{
	font-size:1.2em; 
	color:#333; 
	line-height:1.2em
}
--></style>


{% autoescape off %}

<h2>Dear {{user.name}}{{user.lastname}}</h2>,
<br>
<p class="info-text">We received a request to change your password. To reset your password, simply click on the link below. 
That will take you to a web page where you can create a new password.</p>

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

<p class="info-text">Your username, in case you have forgotten, is: {{user.username}}</p>

<p>If you do not want to change your password, you can ignore this email. Your password will not be reset.</p>

Thank you for using SQP,

<p><strong>SQP team</strong></p>



{% endautoescape %}
