{% extends "sqp/base.html" %}

{% block content %}

<h2>Confirmation email sent!</h2>
<br>
<h2>We have sent an email to the address you entered.</h2>
<br>
<div>
    <p>In the email you will find a link to confirm the activation of your account. This link will bring you back to SQP where you will be able to set your username and password and start using SQP. </p>
    <br>
    <p>If for some reason you do not receive the activation email within 24 hours, contact us at <a class="mail" href="mailto:sqp@upf.edu">sqp@upf.edu</a>.</p>
    <br>
</div>
<p class="small-font">Please check your junk/spam folder just in case the activation email was delivered there instead of your inbox. If so, select the confirmation email and mark it ‘Not Spam’, which should allow future messages to get through.</p>
{% endblock %}