{% extends "sqp/base.html" %}

{% block meta_title%}
	Login
{% endblock%}

{%block content %}
	{% if form.has_errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	<div>
    {% include "sqp/_inc.login_options_demo.html" %}
    </div>
	<div style="float:left;width:48%">
	<h2>Login</h2>
	<p>Please login to access the SQP software.</p>
	<form method="post" >
	{% include "sqp/_inc.form_basic.html" %}
	<div class="submit_block">
		<input type="submit" value="Login" />
	</div>
	<input type="hidden" name="next" value="/loadui/" />
	</form>
	<p><a href="/accounts/password-reset/">Lost your password?</a></p>

    </div>
	{% include "sqp/_inc.login_options.html" %}
	</div>

{% endblock %}