{% extends "sqp/base.html" %}
      {% block content %}
      <div style="font-size:1.2em;color:#333;line-height:1.2em">
        <div style="float:right;width:200px;text-align:right;">
        
            <a href="/loadui/">
                <img src="/media/img/sqp/start.png" width="150" border="0" height="150" alt="Start"/>
            </a>
         </div>
        <p>SQP allows users to design, evaluate and improve survey questions by providing a prediction of their quality. The SQP database contains a wide range of survey questions concerning many different topics, in many different forms and languages. For many of the questions a quality prediction is already available, although the software also allows users to predict the quality themselves. </p>
        <p>To obtain a quality prediction for a question, SQP provides a guide for coding a number of formal and linguistic characteristics of the question. This prediction is based on an analysis of the relationships between the quality estimates obtained through Multitrait-Multimethod (MTMM) experiments and the formal and linguistic characteristics of the questions in those experiments. Furthermore, the database also offers estimates of reliability, validity and quality for those questions which formed part of an MTMM experiment.</p>
        <p>To know much more about SQP, check the SQP tutorials:  </p>
        <div class=video-tutorial style="text-align:right;margin-top:-40px;">
			<img src="/media/img/ui/fake_tutorial.png">
		</div>
     </div>
	
	<br><br>
    
    <p>
        <p>We recommend using the following internet browsers:
        <ul>
            <li><a href="http://www.mozilla.com/firefox/">Mozilla Firefox 3.0 or higher</a> (recommended)</li>
            <li><a href="http://www.google.com/chrome/">Google Chrome/Chromium, 
            <a href="http://www.apple.com/safari/download/">Apple Safari</a>, 
            or other WebKit-based browsers.</li>
            <li><a href="http://www.opera.com/download/">Opera 9 or higher</a></li>
            <li><a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx">
                Microsoft Internet Explorer 7 or higher</a> </li>
        </ul>
        Note: the software  <b>does not work well in Internet Explorer 6</b>. 
         If you are using this older version of Internet Explorer, please update it to the latest version or use another browser.
    </p>
     
{% endblock %}