{% extends "sqp/base.html" %}
      {% block content %}
      <div style="font-size:1.2em;color:#333;line-height:1.2em">
        <div style="float:right;width:200px;text-align:right;">
        
            <a href="/loadui/">
                <img src="/media/img/sqp/start.png" width="150" border="0" height="150" alt="Start"/>
            </a>
         </div>
        <p>The Survey Quality Predictor (SQP) is:
        	<ul>
        		<li><b style="color:#205081">an extensive open-source database of survey questions and quality estimates </b>built up through the collaboration of the users. The SQP database contains a wide range of survey questions concerning many different topics in many different forms and languages.</li>
        		<li><b style="color:#205081">a coding system of formal and linguistic characteristics of survey questions which allows a prediction of their reliability, validity and quality to be obtained.</b> This prediction is based on a meta-analysis of the relationships between the quality estimates of survey questions obtained through Multitrait-Multimethod (MTMM) experiments and the formal and linguistic characteristics of the questions in those experiments.</li>
        		<li><b style="color:#205081">a tool for improving questions.</b> By providing information about the quality of different question formats, the software can help design better questions.</li>
        	</ul>
        </p>
        <p>The <b style="color:#205081">quality</b> of a survey question is defined, in this context, as the strength of the relationship between the latent variable of interest and the response to the survey question, the observed variable. The quality can be computed by taking the product of reliability and validity.</p>
        <p>The information provided by SQP is particularly useful to:
        	<ul>
        		<li><b style="color:#205081">consult, compare and evaluate questions</b> which are part of the SQP database,</li>
        		<li><b style="color:#205081">design new questionnaires</b>, since SQP provides suggestions of changes in question format for improving the quality of questions. </li>
        		<li><b style="color:#205081">correct for measurement error</b> in the substantive analyses.</li>
        	</ul>
        </p>
          <br/>
          <hr noshade="" style="border:0; border-top:1px solid #205081; margin-bottom:20px;"/>
          <div style="float:left;margin-right:10px;">
              <img src="/media/img/logo/logoRECSM.jpg" width="60"/>
          </div>
          <p>
              RECSM organises the 4th edition of the Barcelona RECSM Summer School in Survey Methodology.
              You can learn about SQP in the short courses "Correction for measurement errors" (29&30 June 2017) and "Questionnaire design" (6&7 July 2017)
              but the program offers much more: <a href="https://eventum.upf.edu/event_detail/7273/detail/barcelona-summer-school-in-survey-methodology-2017.html" target="_blank">Summer School website</a>

          </p>
          <div style="clearfix:all"></div>
          <hr noshade="" style="border:0; border-top:1px solid #205081; margin-top:20px;"/>
          <br/>
        <p>To know much more about SQP, check the <b style="color:#205081">SQP2.1 2015 Tutorials</b>:  </p>
        <div class=video-tutorial style="text-align:right;margin-top:-40px;">
			<a href="https://www.youtube.com/watch?v=UGZiDbN5N04&list=PLgaP_kVv-5bX2VJXQ5Af1hfmKaQuRoSwA" target="_blank"><img src="/media/img/ui/tutorial1_v2.png"></a>
		</div>
     </div>
	
	<br><br>

    <p>
        <p>We recommend using the following internet browsers:
        <ul>
            <li><a href="http://www.google.com/chrome/">Google Chrome/</a>, <a href="http://www.apple.com/safari/download/">Apple Safari</a>, or other WebKit-based browsers.</li>
            <li><a href="http://www.mozilla.com/firefox/">Mozilla Firefox 3.0 or higher</a> (recommended)</li>
            <!--
            <li><a href="http://www.opera.com/download/">Opera 9 or higher</a></li>
            -->
            <li><a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx">Microsoft Internet Explorer 7 or higher</a> </li>
        </ul>
        Note: the software  <b>does not work well in Internet Explorer 6</b>. 
         If you are using this older version of Internet Explorer, please update it to the latest version or use another browser.
    </p>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-99067051-1', 'auto');
      ga('send', 'pageview');
    </script>


{% endblock %}
