{% extends "sqp/base.html" %}
      {% block content %}
      <div style="font-size:1.2em;color:#333;line-height:1.2em">
        <div style="float:right;width:200px;text-align:right;">
        
            <a href="/loadui/">
                <img src="/media/img/sqp/start.png" width="150" border="0" height="150" alt="Start"/>
            </a>
         </div>
        <p>SQP 2.0 allows survey researchers to create questions and obtain a quality prediction. It also provides information about Multitrait Multimethod (MTMM) experiments done on more than 3000 questions.</p>
        <p>For each question researchers provide information about a number of the question's characteristics. 
          Then, a quality prediction for the question can be made based on these characteristics 
          using  MTMM data and analysis previously done by The Research and Expertise Centre for Survey Methodology
        <a href="http://www.upf.edu/survey/" target="_blank">(RECSM)</a> for the European Social Survey <a href="http://www.europeansocialsurvey.org/" target="_blank">(ESS)</a> and for other surveys in many different countries.</p>
        <p style="padding-top:25px;">
            <img src="/media/img/sqp/news_v2.png" width="75" border="0" height="75" alt="News" style="margin-right:10px; margin-top:60px; float:left;"></p>
               <p style="border-top-width: 3px;border-top-color: #9eb1c3;border-top-style: solid;padding-top: 10px;font-weight: bold;">Latest news!</p>
          <p style="border-bottom-style: solid;border-bottom-width: 3px;padding-bottom: 25px;border-bottom-color: #9eb1c3;">
               RECSM and ESRA invite submissions of excellent papers that use the Survey Quality Predictor (SQP) to the SQP research paper award before 1 st March 2015. The winner will be announced at the 6 th ESRA conference (13-17 July 2015, Reykjavik, Iceland). For more detailed information about the requirements, quality criteria and evaluation process, click <a href="http://www.upf.edu/survey/actualitat/50.html" target="_blank">here</a>.
        </p>
	</div>

	<br><br>
    
    <p>
        <p>This program works best in one of the following browsers, shown in order of 
         amount of testing and results:
        <ul>
            <li><a href="http://www.mozilla.com/firefox/">Mozilla Firefox 3.0 or higher</a> (recommended)</li>
            <li><a href="http://www.google.com/chrome/">Google Chrom/Chromium, 
            <a href="http://www.apple.com/safari/download/">Apple Safari</a>, 
            or other WebKit-based browsers.</li>
            <li><a href="http://www.opera.com/download/">Opera 9 or higher</a></li>
            <li><a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx">
                Microsoft Internet Explorer 7 or higher</a> </li>
        </ul>
        Note: the program <b>does not work well in Internet Explorer 6</b>. 
        If you are using this older version of internet explorer, 
        please update to the newest version or just use 
        the latest version of Firefox.
    </p>
     
{% endblock %}