<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>

This template is no longer used - see logout_success.html

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SQP: list of questions</title>
<link href="http://www.sqp.nl/css/layout_new.css" rel="stylesheet" type="text/css" />
</head>
<body><div style="background-color:#0099cc;padding: 5px; "><div style="padding: 5px; width: 50%;background-color:#ffffff;">
<h3><img src="http://www.sqp.nl/i/sqp.png" width="42" height="22" 
	alt="SQP" /> Logout successful</h3>
<p>You have been logged out of the coding system. Thanks for your efforts!</p>
<p>If you have any doubts, questions, or comments, please contact daniel.oberski@gmail.com</p>
<p><a href="/sqp/">Log in again</a></p></div></div>
</body>
</html>