<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>SQP: {{charset}}</title>
    <style>body {font-family: verdana; font-size: 10pt;}
    </style>
        
</head>
<body>
<h2>Clickable and resizable map of the characteristic set "{{charset}}"</h2>

<form name="control" action="" method="GET">
<input type="submit" value="Start from:" />
<select name="start_from">
    <option {%ifequal start_from 'question'%}selected{%endifequal%} value="question">Beginning</option>
{%for char in characteristics%}
    <option {%ifequal char.1 start_from%}selected{%endifequal%} value="{{char.1}}">{{char.0}}</option>
{%endfor%}
</select>
</form>
<div>
<object data="/media/img/sqp/{{img_path}}" type="image/svg+xml"
        width="100%" height="100%">
    <embed src="/media/img/sqp/{{img_path}}" type="image/svg+xml"
            width="100%" height="100%" />
</object>
</div>

<p>Note: multiple branches that lead to the same characteristic are not shown beyond the first label encountered.</p>

</body>
</html>
