{% extends "ui/base_ui.html" %}
{% block title %}
Coders View: {{title}}
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
{% load straight_include %}

<!-- Question Detail Coding and Charactistic List -->
{% straight_include "icanhaz.characteristicNumericTemplate.html" %}
{% straight_include "icanhaz.characteristicRadioTemplate.html" %}
{% straight_include "icanhaz.characteristicTextTemplate.html" %}
{% straight_include "icanhaz.characteristicWelcomeTemplate.html" %}
{% straight_include "icanhaz.codingCompleteTemplate.html" %}
{% straight_include "icanhaz.codingListItem.html" %}

<!-- Question Detail -->
{% straight_include "icanhaz.questionDetail.html" %}
{% straight_include "icanhaz.questionEdit.html" %}
{% straight_include "icanhaz.questionCodedByIcon.html" %}

<!-- Question List -->
{% straight_include "icanhaz.questionListItem.html" %}
{% straight_include "icanhaz.singleQuestionListItem.html" %}

<!-- Study List -->
{% straight_include "icanhaz.singleStudyListItem.html" %}

<!-- Prediction List -->
{% straight_include "icanhaz.predictionCodingList.html" %}
{% straight_include "icanhaz.predictionList.html" %}

<!-- Potential Improvements -->
{% straight_include "icanhaz.improvementSelectedIntro.html" %}
{% straight_include "icanhaz.singlePotentialImprovement.html" %}
{% straight_include "icanhaz.questionQualityPredictionOverview.html" %}


<!-- Assigned Question List -->
{% straight_include "icanhaz.assignedQuestionRow.html" %}

<script script type="text/javascript" charset="utf-8"> window.demouser = {%ifequal user.username "demouser" %} true {% else %} false {% endifequal %}</script>

<div id='sqpcontainer'>

	<!-- Header and Tabs -->
	<div id='sqpheader'>
		<div id="sqpheadertoprow">
		<div id="userdisplay"> <span id="screenname">You are logged in as:  {%if user.get_full_name %} {{user.get_full_name}} {% else %} {{user.username}} {% endif %} </span></div>
		<div id="toprowmenu"> 
		<!--  <a href="#help" id="helplink">Help</a> 
		  l <a href="#settings" id="settingslink">Settings</a> l -->
		   <a href="/accounts/logout/" id="logoutlink" >Logout</a></div>
		</div>
		<div id="sqpheaderinner">
			<div id="tabsdiv">
				<ul id="menu">
					<li><a href="#home" id="homeTab" class="selectedtab toptabs" >Home</a></li>
					<li><a href="#questionList" id="questionTab" class="unselectedtab toptabs openQuestionList" >Questions</a></li>
					<li><a href="#studies" class="unselectedtab toptabs" id="studiesTab">Studies</a></li>
                    <li><a href="#faq" id="faqTab" class="faq unselectedtab toptabs" >FAQ</a></li>
                    <li><a href="#about" id="aboutTab" class="about unselectedtab toptabs" >About</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- Question List View -->
	<div id='pageQuestionList' class="uiPage">
	    <div class="qListBreadCrumb breadCrumb">
	        <a href="#">Home</a> 
	        <span class="breadCrumbSep">&gt;</span>
			<span class="breadCrumbCurrent questionListTitle">All Questions</span>
			<span class="breadCrumbSep qListCurrentQuestionBreadCrumb" style="display:none;">&gt;</span>
			<a class="breadCrumbCurrent qListCurrentQuestionBreadCrumb" style="display:none;"></a>
	    </div>
		<div class='qListNav'>
			<div class="block ui-widget">
				<h4 class="blockHeader">Filter Questions</h4>
				<h4 class="searchHeader">Show Questions From:</h4>
				<div class="ui-select-holder">
					<select class="qListStudy">
						<option value="">All Studies</option>
					</select>
				</div>
				<div class="ui-select-holder">
					<select class="qListLanguage">
						<option value="">All Languages</option>
					</select>
				</div>
				<div class="ui-select-holder">
					<select class="qListCountry">
						<option value="">All Countries</option>
					</select>
				</div>
				<br/>
				
				<h4 class="searchHeader">Containing Text:</h4>
				<div class="ui-select-holder">
					<input class="qListSearchText ui-widget-content ui-corner-left">
					<button title="Search" class="qListSearch ui-button-icon-only" >Search</button>
				</div>
				<br>
				
				<h4 class="searchHeader">Selection Criteria:</h4>
				<input type='checkbox' id="qListTypePredicted" class="qListTypePredicted" />
				<label for="qListTypePredicted">Only with Predictions</label> <br/>
				<input type='checkbox' id="qListTypeMTMM" class="qListTypeMTMM" />
				<label for="qListTypeMTMM">Only with MTMM</label> <br/><br/>
				<h4 class="searchHeader">
				
				My Questions</h4>
				<a href="#question/new" class="qlistAddNew">
					<img style="vertical-align:middle" src="/media/img/ui/add_new.png" height="24" width="24" title="Add New Question" />
	   	 			Add New Question
	   			 </a>
	   			 
	   			 <br /><br />
	   			 <br />
	   			 <h4 class="searchHeader">Key</h4>
	   			 <p style="color:#888;">
	   			 <img src="/media/img/ui/c.png" style="padding: 3px; vertical-align: middle;" title="MTMM"> Other Country Predictions <br>
	   			 <img src="/media/img/ui/mine.png" style="padding: 3px; vertical-align: middle;" title="My Questions">  My Questions and Codings <br>
	   			 <img src="/media/img/ui/a.png" style="padding: 3px; vertical-align: middle;" title="Authorized Predictions">  Authorized Predictions <br>
	   			 <img src="/media/img/ui/u1.png" style="padding: 3px; vertical-align: middle;" title="Other User Predictions"> Other User Predictions <br>
	   			 <img src="/media/img/ui/m.png" style="padding: 3px; vertical-align: middle;" title="MTMM"> MTMM Data Available <br>
	   			 </p>
	   			 
			</div>
		</div>
		
	
		<div class='qListMain'>
			<div class="qListLoading">
				<div class="block">
				    <h4 class="blockHeader">Loading...</h4>
				    <div class="qListLoadingContent">
				    </div>
				</div>
			</div>
		    <div class="qListResults">
		    	<div class="qListPreview">
		    			<span class="closePreview hlinkclass ui-icon ui-icon-circle-close" title="Close Preview"></span>
		    			<div id="qListPreviewContent"></div>
		    	</div>
			    <div class="block">
			    	<div class="questionTableHolder">
						<table class='questionTable' cellspacing='1' cellpadding='1'>
							<thead>
								<tr>
									<th style="padding-left:32px;">Question</th>
									<th>Study</th>
									<th>Language</th>
									<th>Country</th>
									<th>Quality</th>
								</tr>
							</thead>
						<tbody class='qListTable'></tbody>
						</table>
					</div>
					<p class="qListRowNav">Showing questions <span class="qListFromRow"></span> 
					   to <span class="qListToRow"></span> of 
					   <span class="qListTotal"></span> total 
					<button class="qListPrevPage">Prev</button>
					 
					<button class="qListNextPage">Next</button>
					 
					</p>
				</div>
			</div>
			<div class="qListNoResults">
				<div class="block">
				    <h4 class="blockHeader">No Matching Questions Found </h4>
				    <p>There were no questions that matched your current selection. Try making your selection more broad if possible.</p>
				</div>
			</div>
		</div>	
	</div>
	
	
	<!-- Assigned Questions View -->
	<div id='pageAssignedQuestionList' class="uiPage">
	    <div class="qListBreadCrumb breadCrumb">
	        <a href="#">Home</a> 
	        <span class="breadCrumbSep">&gt;</span>
			<span class="breadCrumbCurrent">My Assigned Questions</span>
	    </div>
    	<div class="qListNav">
		    <div class="block">
				<h4 class="blockHeader">Questions Completed</h4>
				<div class="blockContent">
					<div >
						 <div class="assignedQuestionsCount" >
		
							<span class="assignedQuestionsCountComplete"> </span>
							/
							<span class="assignedQuestionsCountTotal"> </span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="qListMain">
			<div class="block">
			    <table class='questionTable' cellspacing='1' cellpadding='1'>
					<thead>
						<tr>
							<th style="padding-left:32px;">Question</th>
							<th>Study</th>
							<th>Language</th>
							<th>Country</th>
							<th>Complete</th>
						</tr>
					</thead>
					<tbody id='assignedQListTable'></tbody>
				</table>
			</div>
		</div>
	</div>
	
	
	<!-- Question Edit View -->
	<div id='pageQuestionEdit' class="uiPage">
		<div class="breadCrumb">
		    <a href="#">Home</a> 
	        <span class="breadCrumbSep">&gt;</span>
			<a href="#questionList" class="openQuestionList questionListTitle">All Questions</a>
			<span class="breadCrumbSep">&gt;</span>
			<a id="qEditBreadCrumb"></a>
			<span class="breadCrumbSep">&gt;</span>
			<span class="breadCrumbCurrent">Edit Question</span>
	    </div>
	    <div id="questionEditContainer"></div>
	</div>
	
	
	<!-- Question New View -->
	<div id='pageQuestionNew' class="uiPage">
		<div class="breadCrumb">
		    <a href="#">Home</a> 
	        <span class="breadCrumbSep">&gt;</span>
			<a href="#questionList" class="openQuestionList">Questions</a>
			<span class="breadCrumbSep">&gt;</span>
			<span class="breadCrumbCurrent">New Question</span>
	    </div>
	    <div id="questionNewContainer"></div>
	</div>
	
	
	<!-- Question Prediction View -->
	<div id='pageQuestionPrediction' class="uiPage">
		<div class="breadCrumb">
		    <a href="#">Home</a> 
	        <span class="breadCrumbSep">&gt;</span>
			<a href="#questionList" class="openQuestionList questionListTitle">All Questions</a>
			<span class="breadCrumbSep">&gt;</span>
			<a class="questionTitleBreadCrumb"></a>
			<span class="breadCrumbSep">&gt;</span>
			<a id="qCodingBreadCrumb" ></a>
			<span class="breadCrumbSep">&gt;</span>
			<span class="breadCrumbCurrent" id="breadCrumpPrediction">Quality Prediction</span>
	    </div>
	    <div id="qPredictionContent">	
			<div id="questionPredictionLoading">
		    		<div class="block">
			    		<h4 class="blockHeader">Loading Question Prediction</h4>
			    		<div class="blockContent">
		    				<p>Please wait while this prediction is being prepared.</p>
			    		</div>
		    		</div>
	    	</div>
			<div id="questionPredictionContainer">
			    <div class="qPredictionQuestionDetail"></div>
				<div class="qPredictionList"></div>
			</div>
		</div>
	</div>
	
	<!-- Potential Improvement View -->
	<div id='pageQuestionImprovement' class="uiPage">
		<div class="breadCrumb">
		    <a href="#">Home</a> 
	        <span class="breadCrumbSep">&gt;</span>
			<a href="#questionList" class="openQuestionList questionListTitle">All Questions</a>
			<span class="breadCrumbSep">&gt;</span>
			<a class="questionTitleBreadCrumb"></a>
			<span class="breadCrumbSep">&gt;</span>
			<a id="qImprovementBreadCrumb" ></a>
			<span class="breadCrumbSep">&gt;</span>
			<span class="breadCrumbCurrent">Potential Improvement</span>
	    </div>
	    <div id="qImprovementContent">	
	    	<div id="questionImprovementContainer">
	    		<div id="qImprovementQuestionDetail"  style="width:48%;float:left;"></div>
	    		<div class="block" style="width:48%;float:left;margin-left:10px;">
	    			<h4 class="blockHeader">Quality Prediction</h4>
	    			<div class="blockContent" id="qImprovementQualityPrediction"></div>
	    		</div>
	    		<div class="block " style="width:48%;float:left;clear:left;">
		    		<div class="blockHeader">
		    			<div style="float:right;color:#fff;font-weight:bold;" class="questionImprovementCurrentlyLoading"></div>
		    			<h4 style="margin:0px;padding:0px;">Potential Improvements</h4>
		    		</div>
		    		
	    			<h2 class="qImprovementListHeader"></h2>
	    			<div class="qImprovementListLoadAllHolder" ></div>
	    			
		    		<div class="qImprovementListHolder">
						<table>
							<tr style="font-weight:bold;">
								<td>Variable</td>
								<td colspan="2">Potential Max Quality by Change in Variable</td>
							</tr>
							<tbody  class="qImprovementList">
							</tbody>
	    				</table>
	    			</div>
	    		</div>
				<div class="block" style="width:48%;float:left;margin-left:10px;">
	    			<h4 class="blockHeader">Selected Variable</h4>
	    			<div class="blockContent" id="qImprovementDetailContainer"></div>
	    		</div>
	    		<div style="clear:both"></div>
	    	</div>
		</div>
	</div>
		
		
	<!-- Question Coding View -->
	<div id='pageQuestionDetail'  class="uiPage">
		<div class="breadCrumb">
		    <a href="#">Home</a> 
	        <span class="breadCrumbSep">&gt;</span>
			<a href="#questionList" class="openQuestionList questionListTitle">All Questions</a>
			<span class="breadCrumbSep">&gt;</span>
			<a class="questionTitleBreadCrumb"></a>
			<span class="breadCrumbSep">&gt;</span>
			<span id="qDetailBreadCrumb" class="breadCrumbCurrent"></span>
	    </div>
	    <div id="qDetailContent">
	    	<div id="questionContainerLoading">
		    		<div class="block">
		    		<h4 class="blockHeader">Loading Question</h4>
		    		<div class="blockContent">
		    			<p>Please wait while this question is being prepared for coding. The content of the text is used to generate coding suggestions which could take a few moments.</p>
		    		</div>
		    		</div>
	    	</div>
			<div id="questionContainer">
			    <div class="editCodingHolder">
					<div class="editCodingLoading">
						<div class="block">
						    <h3 class="blockHeader">Loading...</h3>
						    <div class="editCodingLoadingContent"></div>
						</div>
					</div>
					<div id="editCodingContainer"></div>
				</div>
				<div id="questionDetailContainer"></div>
			</div>
			<div id="charateristicDetailContainer">
				<div class="block" style="margin-left:10px;" id="codingList">
					<table border=0 cellpadding=4 cellspacing=1 id="codingtable">
						<thead>
							<tr>
								<th>Characteristic</th>
								<th>Choice</th>
								<th>Code</th>								
							</tr>
						</thead>
						<tbody id="codinglist">
							
						</tbody>
					</table>
					<div id="continueCoding">
					    <h4>Question Coding</h4>	
						<p>This question is not yet completely coded. <br><br>		
						<a href="#edit/next/characteristic/question/" class="nextCharacteristicButton btn" >Continue Coding</a>
						</p>
					</div>
				</div>
				<div id="codingListWelcome" class="block"  style="margin-left:10px;" >
					<h4 class="blockHeader">Question Coding</h4>
					<div style="padding:10px;">
						<p>There are no codings yet for this question. <br><br>							
							<a class="nextCharacteristicButton btn" >Begin Coding</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- Study List View -->
	<div id="pageStudies"  class="uiPage">
            <a class="studyListAddNew hlinkclass">
	    	Add New Study
	    	<img style="vertical-align:middle" src="/media/img/ui/add_new.png" height="24" width="24" title="Add New Study" />
	        </a>
    	<div class="breadCrumb">
		    <a href="#">Home</a>
	        <span class="breadCrumbSep">&gt;</span>
			<span class="breadCrumbCurrent">Studies</span>
	    </div>
	    <div class="studyList">
		    <div class="block">
				<table  cellspacing='1' cellpadding='1'>
					<thead>
						<tr>
							<th colspan="1">Study</th>
							<th colspan="3"></th>
						</tr>
					</thead>
				    <tbody class='studyListTable'></tbody>
				</table>
			</div>
		</div>
    </div>
    
    
    <!-- Add / Edit Study Dialog View -->
    <div id="editStudy" style="display:none;">
        {% ifnotequal user.username "demouser" %}
    	<label class="blockLabelFloated" for="studyName" style="position: relative;top: 35px;left: 60px;">Study Name:</label>
	    <input id="studyName" class="studyName blockValueFloated" style="position: relative;top: 35px;">
        <p style="position: relative;top: -36px;height: 37px;width: 381px;left: 21px;">
            This should be a real study containing several questions. If you only want to check a single question please
            <a href="../accounts/login/?next=/loadui/" style="color: red;font-weight: bold;">logout</a> and use the SQP Demo</p>

        {% else %}
        <label class="blockLabelFloated" for="studyName" style="position: relative;top: 20px;left: 60px;">Study Name:</label>
	    <input id="studyName" class="studyName blockValueFloated" style="position: relative;top: 20px;">
        {% endifnotequal %}
        <p id="studyNameError" class="inputErrorMessage"></p>
    </div>
    
    
	<div id='pageSearch'  class="uiPage">Search</div>
	<div id='pageSettings' class="uiPage">Settings</div>

	
	
	<!-- Home Page -->
	<div id='sqpmain' class="uiPage">
		
		<div id='sqpcontent'>
			<div id="assignmentNotice" style="display:none;">
				
				<div class="block">
				    <h4 class="blockHeader">Questions Assigned to You</h4>
				    <div class="blockContent">
				    	<div style="width:500px;float:left;">
				    		<h3>You have been assigned questions to code.</h3>

				    	   <p>You have been assigned questions to code. Each question has a list of about 50 characteristics that need to be coded.
				    	   For each characteristic there is either a list of choices or an entry field for a numeric value. In addition there is a text
				    	   that explains the details about each characteristic that may be used to clarify what the characteristic is asking about.
				    	    You will need to complete
				    	   each characteristic and decide the correct values. You will be informed when the coding for each question is complete and then 
				    	   you may move on to the next question in the assignment. </p>
				    	</div>
				    	<div style="float:right;width:300px">
				    		<h3>Questions Completed</h3>

				    		<div class="assignedQuestionsCount" >
					    		<span class="assignedQuestionsCountComplete"> </span>
					    		/
					    		<span class="assignedQuestionsCountTotal"> </span>
							</div>
							<p><a href="#assignedQuestionsList" id="assignedQuestionListButton">Work on my assigned questions &gt;&gt;</a>
				    	</div>
				    	<div style="clear:both"></div>
				    </div>
				</div>

			</div>
			<div class="leftColumn">
				<div class="leftColumnContent">
					<div class="block">
					    <h4 class="blockHeader">My Questions and Studies Overview</h4>
					    <div class="blockContent">
					    	<h3>Create your own Questions and get a Quality Prediction</h3>
					    	<p>SQP - The Survey Quality Predictor program gives you the possibility to create your own questions and get quality, reliability, and validity predictions for your questions.
					    	The SQP program is also able to recommend potential improvements to your questions after they are fully coded.</p>
					    	<p>
					    	  <a href="#question/new" class="qlistAddNew" style="float:none;,margin:0px;">
					    	  	<img style="vertical-align:middle" src="/media/img/ui/add_new.png" height="24" width="24" title="Add New Question" />
						    	Create a new question
						    	
						    </a></p>
					    </div>
					</div>
				</div>
			</div>
			<div class="rightColumn">
				<div class="rightColumnContent">
					<div class="block">
					    <h4 class="blockHeader">SQP Question Overview</h4>
					    <div class="blockContent">
					    	<h3>Questions with MTMM Data</h3>
					    	<p>All MTMM data collected so far is available by using this program. </p>
					    	<p><a href="#questionList/MTMM:1">View All Questions with MTMM data &gt;&gt;</a></p>
					    	<br>
					    	<h3>All Available Questions</h3>
					    	<p>For questions that don't have MTMM data or a prediction, you may code the question to obtain a quality prediction. If the question is not available, you may also add the question to our database using the create new question link.</p>
					    	<p><a href="#questionList">View all questions that are currently available &gt;&gt;</a></p>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- FAQ View -->
	<div id="pageFAQ"  class="uiPage">
            <p class="title0">Frequent Asked Questions while Coding</p>

            <p><a href="#1" class="index">1. Which texts are present in SQP?</a></p>
            <p><a href="#2" class="index">2. How to code Domain and Concept characteristics?</a></p>
            <p><a href="#3" class="index">3. How to code Social desirability? And Centrality?</a></p>
            <p><a href="#4" class="index">4. How is SQP treating batteries of questions?</a></p>
            <p><a href="#5" class="index">5. How do I code the Don’t know option?</a></p>
            <p><a href="#6" class="index">6. How do I code the Interviewer instructions?</a></p>
            <p><a href="#7" class="index">7. How do I code the Show Cards characteristics?</a></p>
            <!--
            <p><a href="#8" class="index">8. Balance of the request, the Theoretical range of the scale and Range of scale.</a></p>
            <p><a href="#9" class="index">9. Correspondence between the labels and the numbers of the scale.</a></p>
            -->
        <div id="textContainerFaq">
            <p id="1" class="textTitle">1. Which texts are present in SQP?</p>
            <p class="textBody">It is very important to bear in mind that in SQP only the text that is read to or by the respondent will be present. Thus, such texts are the Introduction (if used), the Request for an answer and the Answer options. This means that all instructions to the interviewer or everything, which is not read, to or by the respondent should not be present in the SQP text. However, there will be characteristics that will identify this extra information during the coding process. This is why we suggest having the real questionnaire in hand to detect this missing information in SQP.</p>

            <p id="2" class="textTitle">2. How to code Domain and Concept characteristics?</p>
            <p class="textBody">The Domain and Concept characteristics are usual to present uncertain decisions. There are many different domains and concepts among which to chose, and the coder can be confused. In order to get the complete definition of each we suggest using the SQP Help screens or the SQP Coding Guideline. The coding is done in two steps and sometimes a better code can be found by choosing another first category. For further explanation we refer to Chapter 2 from Saris and Gallhofer 2007. </p>

            <p id="3" class="textTitle">3. How to code Social desirability? And Centrality?</p>
            <p class="textBody">The coder must be aware that the Social Desirability characteristic will be specific for the population under study, so cultural and time references must be taken into account. For example, if a coder decides to code a question from ESS Round 1 in Spain he or she must take into account that the survey took place in 2002 and that the respondents where the Spanish population. The sensitivity over questions about political interest may change across time. The same happens with the Centrality characteristic; the coder must place on the mind of the respondents and think if the topic can be central or not in the mind of the survey respondents (e.g. in the mind of the Spanish population in 2002).</p>

            <p id="4" class="textTitle">4. How is SQP treating batteries of questions?</p>
            <p class="textBody">SQP has a special form to treat the batteries of questions. The request and if applicable the introduction is placed just before the first statement. One has to think of it as the sequence of how it is read to the respondent.
            <p class="textBody">Example: Battery format in questionnaire ESS Round 6. In ESS Round 6 questions E17 to E21 ask about democracy in the country. </p>
            <img class="imgFaq4" id="img41" src="/media/img/sqp/faq/4-1.png" />
            <p class="textBody">The presentation text in SQP for the questions presented in the battery will be as follows:</p>
            <img class="imgFaq4" id="img42" src="/media/img/sqp/faq/4-2.png" />
            <img class="imgFaq4" id="img43" src="/media/img/sqp/faq/4-3.png" />
            <img class="imgFaq4" id="img44" src="/media/img/sqp/faq/4-4.png" />
            <img class="imgFaq4" id="img45" src="/media/img/sqp/faq/4-5.png" />
            <img class="imgFaq4" id="img46" src="/media/img/sqp/faq/4-6.png" />
            <p class="textBody">The understanding of this procedure will matter for the coding of the characteristics: Formulation on the request for an answer and Use of stimulus or statement in the request.</p>
            <p class="textBody">Following the example, we will say that question E17 is formulated as an indirect request (“Using this card, please tell me to what extent you think each of the following statements applies in [country]…”) with a stimulus or statement present (“National elections in [country] are free and fair”). However, questions E18 to E21 will be coded in the characteristic Formulation of the request for an answer as ‘No request present’ and with a stimulus or statement present (i.e. for E18 the statement is “Voters in [country] discuss politics with people they know before deciding how to vote”, for E19 it is “Different political parties in [country] offer clear alternatives in one another”, and so on). </p>

            <p id="5" class="textTitle">5. How do I code the Don’t know option?</p>
            <p class="textBody">There are three options to deal with the Don’t know option in a question. The first is to explicitly provide it to the respondent, in this way the don’t know option will be treated as another answer option and will be present in SQP text. However, many studies apply the implicit don’t know option, which is not mentioned to the respondent as an answer option but can be chosen by the interviewer if the respondent does not know how to answer. In this case, it will not appear in the SQP text, however, the coder must code this characteristic as “Don’t know option only registered”. The third case in when the answer options are provided with no don’t know option.</p>

            <p id="6" class="textTitle">6. How do I code the Interviewer instructions?</p>
            <p class="textBody">The characteristic Interviewer instruction is only present if an interviewer is reading the questionnaire to the respondent. These instructions are not present in SQP because they are not read to the respondent. However, if an interviewer administrated the survey the coder must check the presence of this kind of instructions in the questionnaire.</p>

            <p id="7" class="textTitle">7. How do I code the Show Cards characteristics?</p>
            <p class="textBody">The Showcard characteristics will imply an interviewer instruction regarding the use of a show card for a question. It will not appear in the SQP text but if a Show card was used the coder will need to code its characteristics (i.e. horizontal or vertical scale, picture provided, numbers or letters before answer options, etc…).</p>
            <!--
            <p id="8" class="textTitle">8. Balance of the request, the Theoretical range of the scale and Range of scale.</p>
            <p class="textBody bold">8.1 Poles</p>
            <p class="textBody">Concepts can have one or two poles (a negative and a positive). It usually depends on the linguistics of each language to have one or two poles of a concept.</p>
            <ul id="faqList">
                <li>In <b>Bipolar</b> concepts one would be theoretically able to formulate both poles of the concept in a specific language.  </li>
                <li><b>Unipolar</b> concepts are those where two poles are not possible to be formulated in a specific language. It that case, it is often used the zero point “pole” as the negative (but it can not be considered as an opposite pole). </li>
            </ul>
            <img class="imgFaq8" id="img81" src="/media/img/sqp/faq/8-1.png" />
            <p class="textBody bold">8.2 Balance of the request</p>
            <p class="textBody">Sometimes the use of a theoretically bipolar concept does not mean that the request is actually formulated using both poles. These types of requests are leading the responses towards the pole used, omitting the other. The characteristic Balance of the request will capture this effect of the question design in SQP. </p>
            <img class="imgFaq8" id="img82" src="/media/img/sqp/faq/8-2.png" />
            <p class="textBody">Example of Balanced request:</p>
            <p class="textBody tabuled">“Do you like or dislike foreigners?”</p>
            <p class="textBody tabuled">“Are you satisfied or dissatisfied with the way democracy works in your country?”</p>
            <p class="textBody">Example of Unbalanced request (leading requests):</p>
            <p class="textBody tabuled">“Do you dislike foreigners?”</p>
            <p class="textBody tabuled">“Are you satisfied with the way democracy works in your country?”</p>
            <p class="textBody">Example of Not applicable balance:</p>
            <p class="textBody tabuled">“How much time do you spend listening to the radio?”</p>
            <p class="textBody tabuled">“How often do you go to the cinema?”</p>
            <p class="textBody bold">8.3 Theoretical range of the scale</p>
            <p class="textBody">This characteristic identifies if the concept measured in the request is theoretically Bipolar or Unipolar, independently from the formulation used by the researcher in the question.</p>
            <img class="imgFaq8" id="img83" src="/media/img/sqp/faq/8-3.png" />
            <p class="textBody">Example of a request Theoretically Bipolar and Balanced:</p>
            <p class="textBody tabuled">“How satisfied or dissatisfied are you with your life as a whole nowadays?”</p>
            <p class="textBody">Example of a request Theoretically Bipolar and Unbalanced:</p>
            <p class="textBody tabuled">“How satisfied are you with your life as a whole nowadays?”</p>
            <p class="textBody">Example of a request Theoretically Unipolar and Not applicable:</p>
            <p class="textBody tabuled">“How often do you meet socially with friends, relatives or work colleagues?”</p>
            <p class="textBody bold">8.4 Range of the scale</p>
            <ul id="faqList">
                <li>If the <b>theoretical range</b> of the concept is <b>Bipolar</b>, the range of the scale can be either Bipolar or Unipolar.</li>
                <li>If the <b>theoretical range</b> of the concept is <b>Unipolar</b>, the range of the scale can only be Unipolar.</li>
            </ul>
            <img class="imgFaq8" id="img84" src="/media/img/sqp/faq/8-4.png" />
            <p class="textBody">Example of a Bipolar scale from a request Theoretically Bipolar and Balanced:</p>
            <p class="textBody tabuled">“How satisfied or dissatisfied are you with your life as a whole nowadays?</p>
            <p class="textBody tabuled">0. Completely dissatisfied</p>
            <p class="textBody tabuled">…</p>
            <p class="textBody tabuled">10. Completely satisfied”</p>
            <p class="textBody">Example of a Unipolar scale from a request Theoretically Bipolar and Unbalanced:</p>
            <p class="textBody tabuled">“How satisfied or not are you with your life as a whole nowadays?</p>
            <p class="textBody tabuled">0. Not at all satisfied</p>
            <p class="textBody tabuled">…</p>
            <p class="textBody tabuled">10. Completely satisfied”</p>
            <p class="textBody">Example of a Unipolar scale from a request Theoretically Unipolar and Not applicable:</p>
            <p class="textBody tabuled">“How often do you meet socially with friends, relatives or work colleagues?</p>
            <p class="textBody tabuled">0. 0. Never</p>
            <p class="textBody tabuled">1. Less than once a month</p>
            <p class="textBody tabuled">2. Once a month</p>
            <p class="textBody tabuled">3. Several times a month</p>
            <p class="textBody tabuled">4. Once a week</p>
            <p class="textBody tabuled">5. Several times a week</p>
            <p class="textBody tabuled">6. Every day”</p>

            <p id="9" class="textTitle">9. Correspondence between the labels and the numbers of the scale.</p>
            <p class="textBody">The Correspondence characteristic measures the level of relation between the numbers and the labels in a category scale. The numbers ordering the scale should be related to the labels of the categories. Thus, the more negative labels in the categories should be related to the lowest numbers in the scale while the most positive labels should be related to the highest numbers. The better the relationship between numbers and labels, the highest the correspondence. </p>
            <p class="textBody">The Correspondence of a scale varies depending of its formulation:</p>
            <ul id="faqList">
                <li>A scale is <b>Bipolar</b> when the two opposite poles are mentioned in the scale. In bipolar scale there is always a positive and a negative pole.</li>
                <li>A scale is <b>Unipolar</b> when just one pole is used to form the scale.</li>
            </ul>
            <img class="imgFaq9" id="img91" src="/media/img/sqp/faq/9-1.png" />
            <p class="textBody bold">9.1 Correspondence in Bipolar scales</p>
            <img class="imgFaq9" id="img92" src="/media/img/sqp/faq/9-2.png" />
            <p class="textBody bold">9.2 Correspondence in Unipolar scales</p>
            <img class="imgFaq9" id="img93" src="/media/img/sqp/faq/9-3.png" />
            -->
        </div>
    </div>

    	<!-- About View -->
	<div id="pageAbout"  class="uiPage">
        <!-- <div id ="aboutLogo"> <img src="/media/img/logo/RECSM.png" id="imgLogo"/> </div> -->
        <div id ="textContainerAbout" style="width: 80%; text-align: justify;">

            <div style="overflow: hidden;">
                <div style="float: left;;width: 25%;">
                    <p class="title2">Current SQP team:</p>
                    <p class="quote" style="width: 800px;">
                    Willem E. Saris</br>
                    Anna De Castellarnau</br>
                    Diana Zavala-Rojas</br>
                    Melanie Revilla</br>
                    Teresa Queralt
                    </p>
                </div>

                <div style="display: inline-block;;width: 50%;">
                    <p class="title2">Contact details</p>
                    <p class="quote" style="width: 800px;">
                    Survey Quality Predictor (SQP) 2.0<br/>
                    e-mail: sqp@upf.edu
                    </p>
                </div>
            </div>

            <p class="title2">SQP guidelines repository</p>
            <ul class="quote" style="width: 800px;">
                <li class="list">A brief introduction to SQP. <a href="/media/files/Brief_introduction_to_SQP.pdf">[PDF]</a></li>
                <li class="list">SQP Coding Guideline [In progress]</li>
            </ul>

            <p class="title2">Publications applying SQP</p>
            <p class="quote" style="width: 100%;">Revilla, M. and Ochoa, C. (2014). What are the links in a web survey between response time, quality and auto-evaluation of the efforts done?. Published in Social Science Computer Review.</p>
            <p class="quote" style="width: 100%;">Saris, W. E. and De Castellarnau, A. (2014). A simple procedure to correct for measurement errors in survey research. European Social Survey Education Net (ESS EduNet). Available in: <a href="http://essedunet.nsd.uib.no/cms/topics/measurement/">ESS EduNet</a></p>
            <p class="quote" style="width: 100%;">Weber, W. and Saris, W. E. (2014). The relationship between issues and an individual's left-right orientation. Acta Politica advance online publication, 4 April 2014, doi:10.1057/ap.2014.5.</p>
            <p class="quote" style="width: 100%;">Zavala-Rojas, D. (2014). A procedure to prevent differences in translated survey items using SQP. RECSM Working Paper 38. <a href="http://www.upf.edu/survey/_pdf/RECSM_wp038.pdf">[PDF]</a> Accepted as invited paper in 3MC conference (2016). Received an Honorable Mention of the 2014 Student paper competition in memory of Janet A. Harkness from the World Association for Public Opinion Research and American Association for Public Opinion Research.</p>
            <p class="quote" style="width: 100%;">Moncagatta, P. (2013). What determines citizens’ conceptions of democracy?. 1st Southern European Conference on Survey Methodology.</p>
            <p class="quote" style="width: 100%;">Serrano Maíllo, A. (2013). Una evaluación de la versión modificada de Wikström de la escala de Grasmick y otros controlando por el error de medición siguiendo a Saris. In: La generalidad de la teoría del autocontrol, Serrano Maíllo, A. and Birkbeck, C. H. (eds). Estudios de Criminología y Política Criminal (28), Dykinson, Madrid.</p>
            <p class="quote" style="width: 100%;">Thomassen, J. Chapter 5 Opinions about Political Issues. ESS Core Questionnaire Development, 117-232. <a href="http://www.europeansocialsurvey.org/docs/methodology/core_ess_questionnaire/ESS_core_questionnaire_political_issues.pdf">[PDF]</a></p>

            <p class="title2">Awards received </p>
            <p class="quote" style="width: 100%;">Willem E. Saris and Daniel Oberski were awarded the prestigious <a href="http://www.aapor.org/AAPORKentico/Awards/Mitofsky-Innovators-Award/Past-Warren-J-Mitofsky-Innovators-Award-Winners.aspx">American Association for Public Opinion Research</a>’s Warren J. Mitofsky Innovators Award for the Survey Quality Predictor (SQP) 2.0 and its Contribution to the Improving Questionnaire Design.</p>

            <p class="title2">Publications about the development of SQP </p>
            <p class="quote" style="width: 100%;">Saris, W. E. and Gallhofer, I. N. (2014). Design, evaluation and analysis of questionnaires for survey research. Second Edition, Hoboken, Wiley.</p>
            <p class="quote" style="width: 100%;">Saris, W. E., Oberski, D., Revilla, M., Zavala-Rojas, D., Lilleoja, L., Gallhofer, I., and Gruner, T. (2011). The development of the program SQP 2.0 for the prediction of the quality of survey questions. RECSM Working Paper 24. <a href="http://www.upf.edu/survey/_pdf/RECSM_wp024.pdf">[PDF]</a></p>
            <p class="quote" style="width: 100%;">Saris, W. E. and Gallhofer, I. N. (2007). Design, evaluation and analysis of questionnaires for survey research. Hoboken, Wiley.</p>

            <div style="overflow: hidden;">
                <div style="float: left;width: 25%;">
                    <p class="title2">Collaborators SQP 2.0 development:</p>
                    <p class="quote" style="width: 800px;">
                    Willem E. Saris<br/>
                    Daniel Oberski<br/>
                    Melanie Revilla<br/>
                    Diana Zavala-Rojas<br/>
                    Laur Lilleoja<br/>
                    Irmtraud Gallhofer<br/>
                    Tom Gruner
                    </p>
                </div>

                <div style="display: inline-block;;width: 50%;">
                    <p class="title2">Collaborators SQP 1.0 development:</p>
                    <p class="quote" style="width: 800px;">
                    <u>Principle investigator</u><br/>
                    Willem E. Saris<br/>
                    <u>Data collection</u><br/>
                    Frank Andrews (USA)<br/>
                    Richard Költringer (Austria)<br/>
                    Annette Scherpenzeel and Willem E. Saris (Netherlands)<br/>
                    Jaak Billiet (Belgium)<br/>
                    <u>MTMM analysis</u><br/>
                    Annette C. Scherpenzeel<br/>
                    Irmgard W. Corten<br/>
                    Chris Aalberts<br/>
                    Willem E. Saris<br/>
                    <u>Coding system</u><br/>
                    Irmtraud Gallhofer<br/>
                    Willem E. Saris<br/>
                    Meta analysis<br/>
                    Willem E. Saris<br/>
                    <u>Program for Windows</u><br/>
                    Daniel Oberski<br/>
                    Stijn Kuipers<br/>
                    <u>Program for DOS</u><br/>
                    Willem E. Saris<br/>
                    Program in Dutch<br/>
                    William van der Veld<br/>
                    </p>
                </div>
            </div>
            <br/><br/>
        </div>
	<div id='sqpfooter'></div>
</div>
{% endblock %}
